<div class="section pp-scrollable slide-personal-clients">
    <div class="slide-container">
        <div class="slide-bg"></div>
        <div class="container">
            <div class="slide-num">6</div>
            <div class="row">
                <div class="col-lg-5">
                    <h3 class="slide-title-info mr-lg-5 pr-lg-3 animate-element delay5 fadeInDown">I've been fortunate to work with and for people from some <span class="text-primary">amazing organizations.</span></h3>
                    <div class="client-list animate-element delay5 fadeInUp">
                        <div class="clients-title title-mini">achievements</div>
                        <div class="client-item media">
                            <div class="client-icon"><i class="icon-partners"></i></div>
                            <div class="media-body">
                                <div class="client-item-title">6,142</div>
                                <div class="client-item-descr slide-descr">Partners worldwide, as well as designers, developers and marketers.</div>
                            </div>
                        </div>
                        <div class="client-item media">
                            <div class="client-icon"><i class="icon-project"></i></div>
                            <div class="media-body">
                                <div class="client-item-title">3,498</div>
                                <div class="client-item-descr slide-descr">Project completed and delivery on worldwide with more 60 countries.</div>
                            </div>
                        </div>
                        <div class="client-item media">
                            <div class="client-icon"><i class="icon-worldwide"></i></div>
                            <div class="media-body">
                                <div class="client-item-title">11,024</div>
                                <div class="client-item-descr slide-descr">Employees & Staffs worldwide at present.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 d-none d-xl-block"></div>
                <div class="col-xl-6 col-lg-7">
                    <div class="clients-photo animate-element delay5 fadeZooming">
                        <div class="clients-photo-item clients-photo-item1"><div class="inside"><img src="img/pic-client-1.png" alt="" /></div></div>
                        <div class="clients-photo-item clients-photo-item2"><div class="inside"><img src="img/pic-client-2.png" alt="" /></div></div>
                        <div class="clients-photo-item clients-photo-item3"><div class="inside"><img src="img/pic-client-3.png" alt="" /></div></div>
                        <div class="clients-photo-item clients-photo-item4"><div class="inside"><img src="img/pic-client-4.png" alt="" /></div></div>
                        <div class="clients-photo-item clients-photo-item5"><div class="inside"><img src="img/pic-client-5.png" alt="" /></div></div>
                        <div class="clients-photo-item clients-photo-item6"><div class="inside"><img src="img/pic-client-6.png" alt="" /></div></div>
                        <div class="clients-photo-item clients-photo-item7"><div class="inside"><img src="img/pic-client-7.png" alt="" /></div></div>
                        <div class="clients-photo-item clients-photo-item8"><div class="inside"><img src="img/pic-client-8.png" alt="" /></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
