<header id="header" class="header header-fixed">
    <div class="header-bg"></div>
    <div class="container-fluid clearfix">
        <div class="brand">
            <a href="#Intro">
                <div class="brand-name font-custom">Recep</div>
            </a>
        </div>

        <button class="nav-toggle-btn a-nav-toggle">
            <span class="nav-toggle">
                <span class="stick stick-1"></span>
                <span class="stick stick-2"></span>
            </span>
        </button>

        <div class="header-content d-none d-md-block">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-tagline">Software<br />Developer</div>
                </div>
                <div class="col-md-9">
                    <div class="header-contacts">
                        <div class="header-contact-item">Call me.&nbsp; <a href="tel:+905465709075" class="phone-link">(+90 546) 570-9076</a></div>
                        <div class="header-contact-divider">/</div>
                        <div class="header-contact-item"><a href="mailto:hayley.design@gmail.com" class="mail-link">recepdemir3438@gmail.com</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hide-menu a-nav-toggle"></div>

    <div class="menu">
        @*<div class="menu-lang">
            <a href="#" class="menu-lang-item active">Eng</a>
            <a href="#" class="menu-lang-item">fra</a>
            <a href="#" class="menu-lang-item">ger</a>
        </div>*@

        <nav class="menu-main" id="accordion">
            <ul id="menuMain">
                <li data-menuanchor="Intro" class="active"><a href="#Intro">Intro</a></li>
                <li data-menuanchor="Services"><a href="#Services">Services</a></li>
                <li data-menuanchor="Projects"><a href="#Projects">Projects</a></li>
                <li data-menuanchor="Skills"><a href="#Skills">Skills</a></li>
                <li data-menuanchor="Experience"><a href="#Experience">Experience</a></li>
                <li data-menuanchor="Contact"><a href="#Contact">Contact</a></li>
            </ul>
        </nav>

        <div class="menu-footer">
            <ul class="social social-rounded">
                <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-behance-original"></i></a></li>
                <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
            </ul>
            <div class="menu-copyright">&copy; Recep 2020<br /> All Rights Reserved</div>
        </div>
    </div>
</header>