<div class="section pp-scrollable slide-dark slide-personal-experience">
    <div class="slide-container">
        <div class="slide-bg">
            <div class="slide-photo slide-experience-image1"></div>
            <div class="slide-photo slide-experience-image2"></div>
            <div class="slide-photo slide-experience-image3"></div>
        </div>
        <div class="container">
            <div class="slide-num">5</div>
            <div class="row align-items-center mb-4 animate-element delay5 fadeInDown">
                <div class="col-8">
                    <h2 class="slide-title mb-0">experience</h2>
                </div>
                <div class="col-4 text-right">
                    <div class="a-carousel-nav carousel-nav"></div>
                </div>
            </div>
            <div class="animate-element delay5 fadeInUp">
                <div class="carousel-experience a-carousel-experience owl-carousel owl-theme">
                    <div class="experience-list">
                        <div class="experience-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="experience-item-date">2021 - now</div>
                                    <div class="experience-item-company slide-title-sub company-pink">Otelz</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="experience-item-title slide-title-sub">Software Developer</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="experience-item-descr slide-descr">I was assigned to modernize the existing applications of OtelZ. Here, I carried the application out , in which the facilities were taken in, by completely redesigning.</div>
                                </div>
                            </div>
                        </div>
                        <div class="experience-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="experience-item-date">2019 - 2021</div>
                                    <div class="experience-item-company slide-title-sub company-pink">Biletall</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="experience-item-title slide-title-sub">Software Developer</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="experience-item-descr slide-descr">I work in the online ticket sales api development team. My task is to develop new features and bugs.</div>
                                </div>
                            </div>
                        </div>
                        <div class="experience-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="experience-item-date">2019</div>
                                    <div class="experience-item-company slide-title-sub company-blue">Biletsepeti</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="experience-item-title slide-title-sub">Software Developer</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="experience-item-descr slide-descr">
                                        I am working in the online plane ticket sales api development team. I was working in the project as a core team.
                                        We were developing the Sass project.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="experience-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="experience-item-date">2018-2020</div>
                                    <div class="experience-item-company slide-title-sub company-green">Hemkursplan</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="experience-item-title slide-title-sub">Full Stack Developer</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="experience-item-descr slide-descr">
                                        My personal project. The goal of the project is to make teachers struggle less when preparing plans.
                                        It aims to give us a pdf output in the project.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-btn">
                    <a href="~/files/Cv-en.pdf" target="_blank" class="btn btn-success"><i class="lni lni-download mr-3"></i>download my cv</a>
                </div>
            </div>
        </div>
    </div>
</div>