<div class="section pp-scrollable slide-personal-services">
    <div class="slide-container">
        <div class="slide-bg">
            <div class="slide-photo circle-light slide-services-circle2 transformLeft"></div>
            <div class="slide-photo circle-brown slide-services-circle1 transformRight"></div>
        </div>
        <div class="container">
            <div class="slide-num">2</div>
            <div class="row">
                <div class="col-md-4">
                    <div class="animate-element delay5 fadeInDown">
                        <h2 class="slide-title slide-title-personal-services slide-title-lg">5</h2>
                        <div class="d-md-none">
                            <div class="slide-title-sub slide-title-sub-sm">YEARS EXPERIENCE</div>
                            <div class="slide-descr slide-descr-personal-services font-italic">
                                *Crafting beautiful brands and websites. <a href="#Contact" class="text-primary text-underline">Contact me</a> for more servies.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3 class="slide-title-info animate-element delay5 fadeInDown">I do it because I love the software <span class="text-primary">, not for work</span></h3>
                </div>
            </div>

            <div class="row animate-element delay5 fadeInUp">
                <div class="col-md-4 d-none d-md-block">
                    <div class="slide-title-sub slide-title-sub-sm">YEARS<div class="d-none d-md-block"></div> EXPERIENCE</div>
                    <div class="slide-descr slide-descr-personal-services font-italic">
                        *Crafting beautiful brands and software. <a href="#Contact" class="text-primary text-underline">Contact me</a> for more services.
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="service-list row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <div class="service-item-title slide-title-sub">Software Development</div>
                                <div class="service-item-descr slide-descr">I can work in all parts of a project with full stack information</div>
                                <div class="service-item-more"><a href="#" class="btn btn-sm btn-circle btn-success"><i class="lni lni-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <div class="service-item-title slide-title-sub">mobile app Development</div>
                                <div class="service-item-descr slide-descr">Mobile application development using React native</div>
                                <div class="service-item-more"><a href="#" class="btn btn-sm btn-circle btn-success"><i class="lni lni-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <div class="service-item-title slide-title-sub">DevOps</div>
                                <div class="service-item-descr slide-descr">I have devops information</div>
                                <div class="service-item-more"><a href="#" class="btn btn-sm btn-circle btn-success"><i class="lni lni-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <div class="service-item-title slide-title-sub">Testing</div>
                                <div class="service-item-descr slide-descr">I include tests in all projects</div>
                                <div class="service-item-more"><a href="#" class="btn btn-sm btn-circle btn-success"><i class="lni lni-plus"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
