<div class="section pp-scrollable slide-dark slide-dark-bg text-white slide-personal-projects">
    <div class="carousel-project-personal a-carousel-projects owl-carousel owl-theme">
        <div class="carousel-project-item" style="background-image: url(img/biletall.jpg);">
            <div class="slide-container">
                <div class="container">
                    <div class="slide-num">3</div>
                    <div class="animate-element delay5 fadeInDown">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="slide-title-sub slide-title-sub-md">Software Developer</div>
                            </div>
                            <div class="col-md-5 text-md-right">
                                <div class="project-date">Nov 2019 - Now</div>
                                <div class="slide-title-sub slide-title-sub-md mb-md-3">Biletall.com</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="slide-title text-white">Online All Ticket</h3>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="slide-descr slide-descr-projects">I was in the sass project of a project developed for the sale of online tickets of aircraft companies around the world.</div>
                                    </div>
                                </div>
                                <div class="slide-btn slide-btn-projects">
                                    <a href="https://www.biletall.com/" target="_blank" class="btn btn-success">view project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-project-item" style="background-image: url(img/biletsepeti.jpg);">
            <div class="slide-container">
                <div class="container">
                    <div class="slide-num">3</div>
                    <div class="animate-element delay5 fadeInDown">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="slide-title-sub slide-title-sub-md">Software Developer</div>
                            </div>
                            <div class="col-md-5 text-md-right">
                                <div class="project-date">Aug 2019</div>
                                <div class="slide-title-sub slide-title-sub-md mb-md-3">Biletsepeti.com</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="slide-title text-white">Online Flight Ticket</h3>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="slide-descr slide-descr-projects">I was in the sass project of a project developed for the sale of online tickets of aircraft companies around the world.</div>
                                    </div>
                                </div>
                                <div class="slide-btn slide-btn-projects">
                                    <a href="https://www.biletsepeti.com/" target="_blank" class="btn btn-success">view project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-project-item" style="background-image: url(img/agency.jpg);">
            <div class="slide-container">
                <div class="container">
                    <div class="slide-num">3</div>
                    <div class="animate-element delay5 fadeInDown">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="slide-title-sub slide-title-sub-md">Full Stack Developer</div>
                            </div>
                            <div class="col-md-5 text-md-right">
                                <div class="project-date">jan 2019</div>
                                <div class="slide-title-sub slide-title-sub-md mb-md-3">granobra.com</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="slide-title text-white">digital agency</h3>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="slide-descr slide-descr-projects">I worked as a freelancer in an agency that has an external business and developed the projects of many companies.</div>
                                    </div>
                                </div>
                                <div class="slide-btn slide-btn-projects">
                                    <a href="https://www.granobra.com/" target="_blank" class="btn btn-success">view Agency</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-project-item" style="background-image: url(img/bg-personal-project-4.jpg);">
            <div class="slide-container">
                <div class="container">
                    <div class="slide-num">3</div>
                    <div class="animate-element delay5 fadeInDown">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="slide-title-sub slide-title-sub-md">Full Stack Developer And Seo Expert</div>
                            </div>
                            <div class="col-md-5 text-md-right">
                                <div class="project-date">Jun 2018</div>
                                <div class="slide-title-sub slide-title-sub-md mb-md-3">hemkursplan.com</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="slide-title text-white">Plan Creator</h3>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="slide-descr slide-descr-projects">My biggest project. This project was developed to make it easier for teachers to prepare an annual plan.</div>
                                    </div>
                                </div>
                                <div class="slide-btn slide-btn-projects">
                                    <a href="https://www.hemkursplan.com/" target="_blank" class="btn btn-success">view project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-project-item" style="background-image: url(img/intern.jpg);">
            <div class="slide-container">
                <div class="container">
                    <div class="slide-num">3</div>
                    <div class="animate-element delay5 fadeInDown">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="slide-title-sub slide-title-sub-md">Software Developer Intern</div>
                            </div>
                            <div class="col-md-5 text-md-right">
                                <div class="project-date">Jun 2017</div>
                                <div class="slide-title-sub slide-title-sub-md mb-md-3">lescard.com</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="slide-title text-white">Job Search Engine</h3>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="slide-descr slide-descr-projects">As an intern, I took part in the work done to the company.</div>
                                    </div>
                                </div>
                                <div class="slide-btn slide-btn-projects">
                                    <a href="http://www.lescard.com/" target="_blank" class="btn btn-success">view project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>