
<div class="section pp-scrollable slide-dark slide-personal-testimonials">
    <div class="slide-container">
        <div class="slide-bg">
            <div class="slide-photo circle-golden slide-testimonials-circle3 animate-element delay5 fadeInUp"></div>
        </div>
        <div class="container">
            <div class="slide-num">7</div>
            <div class="row">
                <div class="col-md-5 col-sm-10 mb-4">
                    <div class="video-link">
                        <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox class="inside animate-element delay6 fadeIn" style="background-image: url(img/pic5.jpg);"><div class="center-icon"><i class="lni lni-play"></i></div></a>
                        <div class="slide-photo circle-green slide-testimonials-circle1 transformLeft"></div>
                        <div class="slide-photo circle-brown slide-testimonials-circle2 transformRight"></div>
                    </div>
                    <div class="video-link-descr slide-descr">*Sanfasio Agency’s Stories</div>
                </div>
                <div class="col-md-1 col-xl-2 d-none d-lg-block">
                </div>
                <div class="col-xl-5 col-lg-6 col-md-7">
                    <div class="carousel-testimonial a-carousel-testimonial owl-carousel owl-theme animate-element delay5 fadeInDown">
                        <div class="testimonials-item">
                            <div class="testimonials-item-avatar-container">
                                <div class="testimonial-item-avatar avatar"><div class="inside" style="background-image: url(img/pic4.jpg);"></div></div>
                                <div class="testimonial-item-company clients-photo-item"><div class="inside"><img src="img/pic-client-8.png" alt=""></div></div>
                            </div>
                            <div class="testimonials-item-text slide-title-info">“Hayley Raymond is exceptionally talented & well rounded designer. He brings to our companies his infectious enthusiasm creativity to everything he works on.”</div>
                            <div class="testimonials-item-rating">
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                            </div>
                            <div class="testimonials-item-author">Robyn Michelle</div>
                            <div class="testimonials-item-author-status slide-descr">Sortware Engineer at <a href="#" class="text-primary text-underline">@@Sanfasio</a></div>
                        </div>
                        <div class="testimonials-item">
                            <div class="testimonials-item-avatar-container">
                                <div class="testimonial-item-avatar avatar"><div class="inside" style="background-image: url(img/pic5.jpg);"></div></div>
                                <div class="testimonial-item-company clients-photo-item"><div class="inside"><img src="img/pic-client-7.png" alt=""></div></div>
                            </div>
                            <div class="testimonials-item-text slide-title-info">“Hayley Raymond is exceptionally talented & well rounded designer. He brings to our companies his infectious enthusiasm creativity to everything he works on.”</div>

                            <div class="testimonials-item-rating">
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star"></i>
                            </div>
                            <div class="testimonials-item-author">Robyn Michelle</div>
                            <div class="testimonials-item-author-status slide-descr">Sortware Engineer at <a href="#" class="text-primary text-underline">@@Sanfasio</a></div>
                        </div>
                        <div class="testimonials-item">
                            <div class="testimonials-item-avatar-container">
                                <div class="testimonial-item-avatar avatar"><div class="inside" style="background-image: url(img/pic4.jpg);"></div></div>
                                <div class="testimonial-item-company clients-photo-item"><div class="inside"><img src="img/pic-client-1.png" alt=""></div></div>
                            </div>
                            <div class="testimonials-item-text slide-title-info">“Hayley Raymond is exceptionally talented & well rounded designer.”</div>

                            <div class="testimonials-item-rating">
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                            </div>
                            <div class="testimonials-item-author">Robyn Michelle</div>
                            <div class="testimonials-item-author-status slide-descr">Sortware Engineer at <a href="#" class="text-primary text-underline">@@Sanfasio</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
