<div class="modal fade" id="send-request">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Send request</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="lni lni-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p class="slide-descr">Leave your contacts and our managers will contact you soon.</p>
                <form class="form-request a-ajax-form">
                    <div class="form-group form-group-material a-form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group form-group-material a-form-group">
                        <input type="email" name="email" class="form-control" required="" placeholder="Email *">
                    </div>
                    <div class="form-group form-group-material a-form-group">
                        <textarea rows="3" name="message" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="message text-success success-message">Your message is successfully sent...</div>
                    <div class="message text-danger error-message">Sorry something went wrong</div>
                    <div class="control-btn text-right">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>