

<div class="section pp-scrollable slide-personal-contacts">
    <div class="slide-container">
        <div class="slide-bg">
            <div class="slide-photo circle-light slide-contacts-circle1 transformLeft"></div>
            <div class="slide-photo circle-brown slide-contacts-circle2 transformRight"></div>
        </div>
        <div class="container">
            <div class="slide-num">8</div>
            <div class="row">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="contact-personal-card">
                        <div class="contact-personal-card-title animate-element delay7 fadeInDown">
                            <h2 class="slide-title">contact</h2>
                        </div>
                        <div class="contact-personal-card-detail animate-element delay7 fadeInUp">
                            <div class="row">
                                <div class="col-xl-7 col-lg-10">
                                    <div class="title-mini">contact info</div>
                                    <div class="slide-title-sub">Kiçiköy mah. Mehmet Esenceli Street. No 5 circle 7</div>
                                    <div class="slide-title-sub"><a href="tel:+905465709075" class="phone-link">(+90 546) 570-9075</a></div>
                                    <div class="text-md text-uppercase"><a href="mailto:recepdemir3438@@gmail.com" class="text-primary"><strong>recepdemir3438@@gmail.com</strong></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 animate-element delay7 fadeInUp">
                    <div class="slide-title-info">Let's grab a coffee and jump on  conversation <span class="text-primary">chat with me.</span></div>
                    <iframe src="https://form.jotform.com/201681048913959" width="500" height="500"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
