<div class="section pp-scrollable slide-dark-footer slide-personal-awards">
    <div class="slide-container">
        <div class="slide-bg">
            <div class="slide-photo circle-green slide-awards-circle1 transformLeft"></div>
            <div class="slide-photo circle-brown slide-awards-circle2 transformRight"></div>
        </div>
        <div class="container">
            <div class="slide-num">4</div>
            <div class="row align-items-center animate-element delay5 fadeInDown">
                <div class="col-md-7">
                    <h2 class="slide-title mb-5 mb-md-0">skills</h2>
                </div>
                <div class="col-md-5">
                    <h3 class="slide-title-info mb-5 mb-md-0">Professional <span class="text-primary">skills</span></h3>
                </div>
            </div>
            <div class="row award-list animate-element delay5 fadeInUp">
                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/software-development.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">Software Development</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/code.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">Design Pattern</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/testing.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">TDD, DDD</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/microservice.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">Microservice Architecture</div>
                    </div>
                </div>
            </div>
            <div class="row award-list animate-element delay5 fadeInUp">

                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/react.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">React Native</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/dotnetcore.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">Dotnet Core</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/react.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">React Js</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/database.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">Sql, No Sql</div>
                    </div>
                </div>
            </div>
            <div class="row award-list animate-element delay5 fadeInUp">
                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/aws.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">Amazon Web Services</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/docker.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">Docker</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="award-item">
                        <div class="award-item-logo"><img src="~/img/linux.svg" alt="" /></div>
                        <div class="award-item-title slide-title-sub">Linux</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>