<div class="section pp-scrollable slide-dark slide-dark-footer slide-personal-intro">
    <div class="slide-container">
        <div class="slide-bg">
            <div class="slide-photo circle-golden slide-intro-circle1 transformLeft"></div>
            <div class="slide-photo circle-brown slide-intro-circle2 transformRight"></div>
            <div class="slide-photo slide-intro-man"></div>
        </div>
        <div class="container">
            <div class="slide-num">1</div>
            <div class="row">
                <div class="col-sm-6 col-10">
                    <h1 class="slide-title animate-element delay5 fadeInDown">Recep Demir</h1>
                    <div class="animate-element delay5 fadeInUp">
                        <h3 class="slide-title-sub">Software Developer</h3>
                        <div class="slide-descr slide-descr-intro">I'm Recep Demir, a software developer based in Istanbul, Turkey.</div>
                        <div class="slide-btn">
                            <a class="btn btn-success" href="#Contact">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>